# Environment

.env

.env.*

# Virtual environment

venv/

.venv/

env/

# Python

__pycache__/

*.py[cod]

.pytest_cache/

# IDE

.vscode/

.idea/

# OS

.DS_Store

# Logs

*.log

# Uploaded Datasets & Data Storage
data/
uploads/
*.csv
*.xlsx
*.parquet
*.jsonl
*.dump